@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

:root {
    --font1: verdana, Geneva, tahoma, sans-serif;
    --font2: 'Passion One', cursive;
    --font3: 'Sriracha', cursive;
    --font4: 'Share Tech Mono', monospace;
}
                        
* {
    margin: 0px;
    padding: 0px;
}
                        
html,
body {
    font-family: var(--font1);
    min-height: 100vh;
    /*VH ViewPort*/
    background-color: darkgray;
}
                        
header {
    background-color: black;
    color: white;
    text-align: center;
}
                        
header>h1 {
    font-family: var(--font2);
    font-variant: small-caps;
    font-size: 10vw;
    padding-top: 50px;
    /*text-transform: uppercase;*/
}
                        
header>h2 {
    font-family: var(--font4);
    font-variant: small-caps;
    font-size: 6vw;
    padding-top: 30px;
}
header>p {
    padding-top: 30px;
    padding-bottom: 50px;
}

a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

header a:hover,footer a:hover {
    text-decoration: underline;
}

section {
    padding-top: 10vh;
    padding-left: 30px;
    padding-bottom: 10vh;
    line-height: 2em;
    font-family: var(--font3);
    font-size: 3.5vw;
}
section>p{
    padding-bottom: 2em;
}

section.normal {
    background-color: white;
    color: black;
}

section.imagem {
    background-color: rgb(58, 56, 56);
    color: white;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.493);
    background-size: cover;
    background-attachment: fixed;
}

section.imagem>p {
    display: inline-block;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.377);
    text-shadow: 2px 1px 0px black;
}

section#img01{
    background-image: url('../imagens/background001.jpg');
    background-position: right center;
}

section#img02{
    background-image: url('../imagens/background002.jpg');
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}